<div class="single-agent">
  <div class="broker-title">Contact Agent</div>
  <img class="broker-modal-img" src="<%= broker.photo_url %>">
  <div class="broker-modal-name"><%= broker.first_name %> <%= broker.last_name %></div>
  <div class="broker-modal-phone"><%= broker.phone %></div>
  <div class="broker-modal-email"><%= broker.email %></div>
  <div class="message-box">
    <p>Message</p>
    <form action="//formspree.io/<%= broker.email %>" method="POST">
      <input class="return-email"
             type="email"
             name="_replyto"
             placeholder="Your email address">
      <input type="hidden" name="_cc" value="lionshareinc@gmail.com" />
      <textarea class="email-message"
                name="message"
                placeholder="Hello, I would like to schedule a time to view this apartment. Thanks."
                rows="6"></textarea>
      <input type="hidden" name="_next" value="//lions-share.herokuapp.com/#listings/<%= listing.id %>/emailConfirmation" />
      <input class="submit-email" type="submit" value="Send">
    </form>
  </div>
  <div class="see-broker-list">Contact a different agent</div>
  <div class="clear"></div>
</div>
<div class="all-agents hide">
  <div class="broker-title">Choose an Agent</div>
  <div class="broker-modal-list">
    <% var brokerList = listing.get('all_brokers') %>
    <% brokerList.forEach(function (broker) { %>
      <div class="choose-broker">
        <img class="broker-modal-img broker-list-img" src="<%= broker.photo_url %>">
        <div class="broker-modal-name broker-list-name">
          <%= broker.first_name %> <%= broker.last_name %>
        </div>
        <img class="checkmark" src="assets/check.png">
        <div class="clear"></div>
      </div>
    <% }) %>
  </div>
  <div class="select-agent-container">
    <div class="select-agent">Select Agent</div>
  </div>
</div>
