<div class="listing-show-container row">
  <div class="listing-img-container group col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <img class="listing-main-img" src="<%= listing.escape('main_photo_url') %>">
  </div>
  <div class="listing-show-info group col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <h1 class="listing-price">$<%= listing.escape('price') %></h1>
    <h2 class="listing-beds"><%= listing.escape('bed_count') %> Bed</h2>
    <h2 class="listing-baths"><%= listing.escape('bath_count') %> Bath</h2>
    <h2 class="listing-neighborhood"><%= listing.escape('neighborhood') %></h2>
    <p class="listing-description"><%= listing.escape('description') %></p>
    <ul class="listing-amenities">
      <% listing.get('amenities').forEach(function (amenity) { %>
        <li><%=  amenity.name %></li>
      <%  }) %>
    </ul>
    <div class="broker-box">
      <% var first_broker = listing.get('brokers')[0] %>
      <img class="broker-box-img" src="<%= first_broker.photo_url %>">
      <div class="broker-info">
        Listed by <br>
        <div class="broker-name">
          <%= first_broker.first_name %> <%= first_broker.last_name %>
        </div>
      </div>
      <button class="contact-button">Contact</button>
    </div>
  </div>
</div>
