<div class="container-fluid filter-page-container">
  <div class="row index-sorting filter-wrapper">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="all-filters row">
          <div class="neighborhood-filter filter-dropdown col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <!-- <div class="dropdown-container"></div> -->
            <div class="stay-open dropdown form-control filterby by_neighborhood">
              <div class="stay-open toggle-dropdown">Select Neighborhoods <span class="stay-open caret"></span></div>
              <div class="stay-open dropdown-menu">
                <ul class="stay-open filter-list neighborhoods-column">
                  <% var firstListing; %>
                  <% if (listings.first()) { %>
                    <% firstListing = listings.first(); %>
                  <% } else { %>
                    <% firstListing = { attributes: { neighborhoods: [], beds: [], building_types: [], amenities: [] }}; %>
                  <% } %>
                  <% firstListing.attributes.neighborhoods.forEach(function (neighborhood) { %>
                    <li class="stay-open">
                      <input class="stay-open neighborhood-checkbox" type="checkbox">
                      <div class="stay-open filter-category"><%= neighborhood %></div>
                    </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
          <div class="bed-filter filter-dropdown col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="stay-open dropdown form-control filterby by_bed">
              <div class="stay-open toggle-dropdown">Beds <span class="stay-open caret"></span></div>
              <div class="stay-open dropdown-menu">
                <ul class="stay-open filter-list beds-column">
                  <li class="stay-open" id="0">
                    <input class="stay-open bed-checkbox" type="checkbox">
                    <div class="stay-open filter-category">
                      Studio
                    </div>
                  </li>
                  <% firstListing.attributes.beds.forEach(function (bed_num) { %>
                    <% if (bed_num !== 0 && bed_num !== 4) { %>
                      <li class="stay-open" id="<%= bed_num %>">
                        <input class="stay-open bed-checkbox" type="checkbox">
                        <div class="stay-open filter-category">
                          <%= bed_num %> Bedroom
                        </div>
                      </li>
                    <% } %>
                  <% }) %>
                  <li class="stay-open" id="4">
                    <input class="stay-open bed-checkbox" type="checkbox">
                    <div class="stay-open filter-category">
                      4+ Bedroom
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="price-filter filter-dropdown col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="stay-open dropdown form-control filterby by_price">
              <div class="stay-open toggle-dropdown">Price <span class="stay-open caret"></span></div>
                <div class="stay-open dropdown-menu price-dropdown">
                  <input class="stay-open price-min" type="text" placeholder="Minimum">
                  to
                  <input class="stay-open price-max" type="text" placeholder="Maximum">
                  <input class="stay-open fee-box" type="checkbox">No Fee
                </div>
            </div>
          </div>
          <div class="building-type-filter filter-dropdown col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="stay-open dropdown form-control filterby by_building_type">
              <div class="stay-open toggle-dropdown">Building Type <span class="stay-open caret"></span></div>
              <div class="stay-open dropdown-menu">
                <ul class="stay-open filter-list building-type-column">
                  <% firstListing.attributes.building_types.forEach(function (building_type) { %>
                    <li class="stay-open">
                      <input class="stay-open building-checkbox" type="checkbox">
                      <div class="stay-open filter-category"><%= building_type %></div>
                    </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
          <div class="amenity-filter filter-dropdown col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="stay-open dropdown form-control filterby by_amenity">
              <div class="stay-open toggle-dropdown">More <span class="stay-open caret"></span></div>
              <div class="stay-open dropdown-menu">
                <ul class="stay-open filter-list amenities-column">
                  <% firstListing.attributes.amenities.forEach(function (amenity) { %>
                    <li class="stay-open">
                      <input class="stay-open amenity-checkbox" type="checkbox">
                      <div class="stay-open filter-category"><%= amenity %></div>
                    </li>
                  <% }) %>
                </ul>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="show-other-filters">
          <p class="plus-sign">+</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 clear-all-container">Clear All</div>

<div class="row content-wrapper">
  <div class="col-sm-7 col-md-7 col-lg-7 sort-matches-container">
    <div class="row index-sorting sort-wrapper">
        <ul class="sort-by col-xs-10 col-sm-6 col-md-6 col-lg-6">
        <li class= "sort-label">Sort By</li>
        <div class="sort-by-buttons">
          <li class="sort-by-border price-sort">Price</li>
          <li class="sort-by-border newest-sort select-sort">Newest</li>
        </div>
      </ul>
      <div class="results-found col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="num-results"></div><div class="results"> results found</div>
      </div>
    </div>
    <div class="row matches-wrapper">
    </div>
  </div>
  <div class="col-sm-5 col-md-5 col-lg-5 map-wrapper">
    <div id="map-canvas"></div>
  </div>
</div>

<script>
  // media query event handler
  if (matchMedia) {
    var mq = window.matchMedia("(min-width: 500px)");
    mq.addListener(WidthChange);
    WidthChange(mq);
  }

  $(document).ready(function () {
    if (window.matchMedia("(min-width: 500px)").matches) {
      // debugger;
    } else {
      $('.bed-filter').addClass('hide-filter');
      $('.price-filter').addClass('hide-filter');
      $('.amenity-filter').addClass('hide-filter');
      $('.building-type-filter').addClass('hide-filter');
    }
  });

  // media query change
  function WidthChange(mq) {
    window.removeEventListener(WidthChange);
    if (mq.matches) {
      $('.bed-filter').addClass('hide-filter');
      $('.price-filter').addClass('hide-filter');
      $('.amenity-filter').addClass('hide-filter');
      $('.building-type-filter').addClass('hide-filter');
    }
    else {
    }
  }

  $('.show-other-filters').on('click', function () {
    $('.show-other-filters').css('display', 'none');
    $('.plus-sign').css('display', 'none');

    $('.bed-filter').removeClass('hide-filter');
    $('.price-filter').removeClass('hide-filter');
    $('.amenity-filter').removeClass('hide-filter');
    $('.building-type-filter').removeClass('hide-filter');
  })
</script>
