<% action = (action_type == :new) ? admin_listings_url : admin_listing_url(listing) %>
<% button_text = (action_type == :new) ? "Create Listing" : "Update Listing"%>

<%= render 'shared/errors' %>

<br><br>
<form action="<%= action %>" method="POST">
  <%= auth_token %>
  <input
    type="radio"
    name="listing[type_of]"
    value="Rental"
    id="listing_rental"
    <%= listing.type_of == "Rental" ? "checked" : "" %>>
  <label for="listing_rental">Rental</label>
  <br>
  <input
    type="radio"
    name="listing[type_of]"
    value="Sale"
    id="listing_sale"
    <%= listing.type_of == "Sale" ? "checked" : "" %>>
  <label for="listing_sale">Sale</label>
  <br>

  <label>Price:
    <input type="text" value="<%= listing.price %>" name="listing[price]">
  </label>
  <br>

  <label>Address:
    <input type="text" value="<%= listing.address %>" name="listing[address]">
  </label>
  <br>

  <label>Description:
    <textarea name="listing[description]"><%= listing.description %></textarea>
  </label>
  <br>

  <p>Bedrooms:</p>
    <input
      type="radio"
      name="listing[bed_count]"
      value="1"
      id="listing_beds"
      <%= listing.bed_count == 1 ? "checked" : "" %>>
    <label for="listing_beds">1</label>
    <br>
    <input
      type="radio"
      name="listing[bed_count]"
      value="2"
      id="listing_beds"
      <%= listing.bed_count == 2 ? "checked" : "" %>>
    <label for="listing_beds">2</label>
    <br>
    <input
      type="radio"
      name="listing[bed_count]"
      value="3"
      id="listing_beds"
      <%= listing.type_of == 3 ? "checked" : "" %>>
    <label for="listing_beds">3</label>
    <br>
    <input
      type="radio"
      name="listing[bed_count]"
      value="4"
      id="listing_beds"
      <%= listing.bed_count == 4 ? "checked" : "" %>>
    <label for="listing_beds">4</label>
    <br>

  <p>Bathrooms:</p>
    <input
      type="radio"
      name="listing[bath_count]"
      value="1"
      id="listing_baths"
      <%= listing.bath_count == 1 ? "checked" : "" %>>
    <label for="listing_baths">1</label>
    <br>
    <input
      type="radio"
      name="listing[bath_count]"
      value="2"
      id="listing_baths"
      <%= listing.bath_count == 2 ? "checked" : "" %>>
    <label for="listing_baths">2</label>
    <br>
    <input
      type="radio"
      name="listing[bath_count]"
      value="3"
      id="listing_baths"
      <%= listing.bath_count == 3 ? "checked" : "" %>>
    <label for="listing_baths">3</label>
    <br>


  <p>Neighborhood:</p>
    <input
      type="radio"
      name="listing[neighborhood]"
      value="Ridgewood"
      id="listing_neighborhood"
      <%= listing.neighborhood == "Ridgewood" ? "checked" : "" %>>
    <label for="listing_neighborhood">Ridgewood</label>
    <br>
    <input
      type="radio"
      name="listing[neighborhood]"
      value="Bed-Stuy"
      id="listing_neighborhood"
      <%= listing.neighborhood == "Bed-Stuy" ? "checked" : "" %>>
    <label for="listing_neighborhood">Bed-Stuy</label>
    <br>
    <input
      type="radio"
      name="listing[neighborhood]"
      value="Clinton Hill"
      id="listing_neighborhood"
      <%= listing.neighborhood == "Clinton Hill" ? "checked" : "" %>>
    <label for="listing_neighborhood">Clinton Hill</label>
    <br>
    <input
      type="radio"
      name="listing[neighborhood]"
      value="Williamsburg"
      id="listing_neighborhood"
      <%= listing.neighborhood == "Williamsburg" ? "checked" : "" %>>
    <label for="listing_neighborhood">Williamsburg</label>
    <br>
    <input
      type="radio"
      name="listing[neighborhood]"
      value="Greenpoint"
      id="listing_neighborhood"
      <%= listing.neighborhood == "Greenpoint" ? "checked" : "" %>>
    <label for="listing_neighborhood">Greenpoint</label>
    <br>

  <label>Featured?:
    <input type="checkbox" name="listing[featured]"
    <%= 'checked="true"' if listing.featured %>>
  </label>

  <label>No fee?:
    <input type="checkbox" name="listing[no_fee]"
    <%= 'checked="true"' if listing.no_fee %>>
  </label>

  <label>Exclusive?:
    <input type="checkbox" name="listing[exclusive]"
    <%= 'checked="true"' if listing.exclusive %>>
  </label>

  <input type="submit" value="<%= button_text %>">
  <% if action_type == :edit %>
  <%= link_to "Delete Listing", admin_listing_url(listing), method: :delete, class: 'btn' %>
  <% end %>
</form>
