<% action = (action_type == :new) ? admin_listings_url : admin_listing_url(listing) %>
<% method = (action_type == :new) ? :post : :patch %>
<% button_text = (action_type == :new) ? "Create Listing" : "Update Listing"%>

<%= render 'shared/errors' %>

<% manhattan_neighborhoods = [
  "Lower Manhattan",
  "TriBeCa",
  "Chinatown",
  "Lower East Side",
  "West Village",
  "Greenwich Village",
  "East Village",
  "Stuyvesant Town",
  "Murray Hill",
  "Flatiron District",
  "Alphabet City",
  "SoHo",
  "NoLiTa",
  "Chelsea",
  "Gramercy Park",
  "Koreatown",
  "Kips Bay",
  "Meatpacking",
  "Hell's Kitchen",
  "Midtown",
  "Upper West Side",
  "Upper East Side",
  "Roosevelt Island",
  "Harlem",
  "Morningside Heights",
  "Washington Heights",
  "Inwood"
]%>

<% brooklyn_neighborhoods = [
  "Fort Greene",
  "Brownsville",
  "East New York",
  "East Flatbush",
  "Greenpoint",
  "Williamsburg",
  "Bushwick",
  "Bed-Stuy",
  "Clinton Hill",
  "Vinegar Hill",
  "Downtown Brooklyn",
  "Brooklyn Heights",
  "Cobble Hill",
  "Boerum Hill",
  "Carroll Gardens",
  "Gowanus",
  "Park Slope",
  "Red Hook",
  "Prospect Heights",
  "Lefferts Gardens",
  "Crown Heights",
  "Flatbush",
  "Ditmas Park",
  "Sunset Park",
  "Kensington",
  "Borough Park"
] %>

<% queens_neighborhoods = [
  "Hunters Point",
  "Astoria",
  "Sunnyside",
  "Maspeth",
  "Ridgewood",
  "Woodside",
  "Jackson Heights",
  "Elmhurst",
  "Forest Hills",
  "Key Gardens",
  "Jamaica",
  "Jamaica Estates",
  "Hollis",
  "Long Island City"
] %>


<form class="admin-form" action="<%= action %>" method="POST">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= auth_token %>
  <input
    type="radio"
    name="listing[type_of]"
    value="Rental"
    id="listing_rental"
    <%= listing.type_of == "Rental" ? "checked" : "" %>>
  <label for="listing_rental">Rental</label>
  <br>
  <input
    type="radio"
    name="listing[type_of]"
    value="Sale"
    id="listing_sale"
    <%= listing.type_of == "Sale" ? "checked" : "" %>>
  <label for="listing_sale">Sale</label>
  <br>
  <br>
  <p>Building type (sales only):</p>
  <input
    type="radio"
    name="listing[building_type]"
    value="Condo"
    id="condo"
    <%= listing.building_type == "Condo" ? "checked" : "" %>>
  <label for="condo">Condo</label>
  <br>
  <input
    type="radio"
    name="listing[building_type]"
    value="Co-op"
    id="co-op"
    <%= listing.building_type == "Co-op" ? "checked" : "" %>>
  <label for="co-op">Co-op</label>
  <br>
  <input
    type="radio"
    name="listing[building_type]"
    value="House"
    id="house"
    <%= listing.building_type == "House" ? "checked" : "" %>>
  <label for="house">House</label>
  <br>
  <input
    type="radio"
    name="listing[building_type]"
    value="Multi-family"
    id="multi-family"
    <%= listing.building_type == "Multi-family" ? "checked" : "" %>>
  <label for="multi-family">Multi-family</label>
  <br>
  <br>
  <label>Price (please omit commas, they will be added automatically):
    <input class="text-input" type="text" value="<%= listing.price %>" name="listing[price]">
  </label>
  <br>
  <br>
  <% address = (action_type == :new) ? "" : listing.address %>
  <label>Street Address:
    <input class="text-input" type="text" value="<%= address %>" name="street_address">
  </label>
  <br>
  <br>
  <% if (action_type == :new) %>
    <label>City (i.e. Brooklyn):
      <input class="text-input" type="text" value="" name="city">
    </label>
    <br>
    <br>
    <label>Zipcode:
      <input class="text-input" type="text" value="" name="zip">
    </label>
    <br>
    <br>
  <% end %>
  <br>
  <label>Yearly Taxes (if creating a rental, enter a random value - it will not be displayed):
    <input class="text-input" type="text" value="<%= listing.yearly_taxes %>" name="listing[yearly_taxes]">
  </label>
  <br>
  <label>Description:
    <textarea class="text-input" name="listing[description]"><%= listing.description %></textarea>
  </label>
  <br>
  <br>
  <label>Square Footage:
    <input class="text-input" type="text" value="<%= listing.square_footage %>" name="listing[square_footage]">
  </label>
  <br>
  <br>
  <label>Lot Square Footage:
    <input class="text-input" type="text" value="<%= listing.lot_square_footage %>" name="listing[lot_square_footage]">
  </label>
  <br>
  <br>
  <p>Bedrooms:</p>
    <input
      type="radio"
      name="listing[bed_count]"
      value="0"
      id="listing_beds"
      <%= listing.bed_count == 0 ? "checked" : "" %>>
    <label for="listing_beds">Studio</label>
    <br>
    <input
      type="radio"
      name="listing[bed_count]"
      value="1"
      id="listing_beds"
      <%= listing.bed_count == 1 ? "checked" : "" %>>
    <label for="listing_beds">1</label>
    <br>
    <input
      type="radio"
      name="listing[bed_count]"
      value="2"
      id="listing_beds"
      <%= listing.bed_count == 2 ? "checked" : "" %>>
    <label for="listing_beds">2</label>
    <br>
    <input
      type="radio"
      name="listing[bed_count]"
      value="3"
      id="listing_beds"
      <%= listing.type_of == 3 ? "checked" : "" %>>
    <label for="listing_beds">3</label>
    <br>
    <input
      type="radio"
      name="listing[bed_count]"
      value="4"
      id="listing_beds"
      <%= listing.bed_count == 4 ? "checked" : "" %>>
    <label for="listing_beds">4+</label>
    <br>
    <br>
  <p>Bathrooms:</p>
    <input
      type="radio"
      name="listing[bath_count]"
      value="0.5"
      id="listing_baths"
      <%= listing.bath_count == 0.5 ? "checked" : "" %>>
    <label for="listing_baths">1/2</label>
    <br>
    <input
      type="radio"
      name="listing[bath_count]"
      value="1"
      id="listing_baths"
      <%= listing.bath_count == 1 ? "checked" : "" %>>
    <label for="listing_baths">1</label>
    <br>
    <input
      type="radio"
      name="listing[bath_count]"
      value="2"
      id="listing_baths"
      <%= listing.bath_count == 2 ? "checked" : "" %>>
    <label for="listing_baths">2</label>
    <br>
    <input
      type="radio"
      name="listing[bath_count]"
      value="3"
      id="listing_baths"
      <%= listing.bath_count == 3 ? "checked" : "" %>>
    <label for="listing_baths">3</label>
    <br>
    <br>
  <p>Neighborhood:</p>
  <p>Manhattan:</p>
    <% manhattan_neighborhoods.each do |neighborhood_name| %>
      <input
        type="radio"
        name="listing[neighborhood]"
        value="<%= neighborhood_name %>"
        id="listing_neighborhood"
        style="margin-left:15px;"
        <%= listing.neighborhood == neighborhood_name ? "checked" : "" %>>
      <label for="listing_neighborhood"><%= neighborhood_name %></label>
      <br>
    <% end %>
  <p>Brooklyn:</p>
    <% brooklyn_neighborhoods.each do |neighborhood_name| %>
      <input
        type="radio"
        name="listing[neighborhood]"
        value="<%= neighborhood_name %>"
        id="listing_neighborhood"
        style="margin-left:15px;"
        <%= listing.neighborhood == neighborhood_name ? "checked" : "" %>>
      <label for="listing_neighborhood"><%= neighborhood_name %></label>
      <br>
    <% end %>
  <p>Queens:</p>
    <% queens_neighborhoods.each do |neighborhood_name| %>
      <input
        type="radio"
        name="listing[neighborhood]"
        value="<%= neighborhood_name %>"
        id="listing_neighborhood"
        style="margin-left:15px;"
        <%= listing.neighborhood == neighborhood_name ? "checked" : "" %>>
      <label for="listing_neighborhood"><%= neighborhood_name %></label>
      <br>
    <% end %>
  <br>

  <label>Featured?:
    <input type="checkbox" name="listing[featured]"
    <%= 'checked="true"' if listing.featured %>>
  </label>
  <br>

  <label>No fee?:
    <input type="checkbox" name="listing[no_fee]"
    <%= 'checked="true"' if listing.no_fee %>>
  </label>
  <br>

  <label>Exclusive?:
    <input type="checkbox" name="listing[exclusive]"
    <%= 'checked="true"' if listing.exclusive %>>
  </label>
  <br>
  <br>

  <p>Amenities:</p>
    <input type="checkbox" name="listing[highceilings]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'High Ceilings'").first) %>>
    <label>High Ceilings</label>
    <br>
    <input type="checkbox" name="listing[parking]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Parking'").first) %>>
    <label>Parking</label>
    <br>
    <input type="checkbox" name="listing[luxuries]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Luxuries'").first) %>>
    <label>Luxuries</label>
    <br>
    <input type="checkbox" name="listing[skylineview]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Skyline view'").first) %>>
    <label>Skyline view</label>
    <br>
    <input type="checkbox" name="listing[elevator]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Elevator'").first) %>>
    <label>Elevator</label>
    <br>
    <input type="checkbox" name="listing[granitecountertops]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Granite countertops'").first) %>>
    <label>Granite countertops</label>
    <br>
    <input type="checkbox" name="listing[sharedbackyard]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Shared backyard'").first) %>>
    <label>Shared backyard</label>
    <br>
    <input type="checkbox" name="listing[dishwasher]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Dishwasher'").first) %>>
    <label>Dishwasher</label>
    <br>
    <input type="checkbox" name="listing[eatinkitchen]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Eat In Kitchen'").first) %>>
    <label>Eat In Kitchen</label>
    <br>
    <input type="checkbox" name="listing[allpetsok]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Accepts pets'").first) %>>
    <label>All pets ok</label>
    <br>
    <input type="checkbox" name="listing[catsonly]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Cats only'").first) %>>
    <label>Cats only</label>
    <br>
    <input type="checkbox" name="listing[smalldogsallowed]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Small dogs allowed'").first) %>>
    <label>Small dogs allowed</label>
    <br>
    <input type="checkbox" name="listing[laundryinbuilding]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Laundry In building'").first) %>>
    <label>Laundry In building</label>
    <br>
    <input type="checkbox" name="listing[zipcar]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Zipcar'").first) %>>
    <label>Zipcar</label>
    <br>
    <input type="checkbox" name="listing[hardwoodfloors]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Hardwood floors'").first) %>>
    <label>Hardwood floors</label>
    <br>
    <input type="checkbox" name="listing[roofdeck]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'RoofDeck'").first) %>>
    <label>RoofDeck</label>
    <br>
    <input type="checkbox" name="listing[roofaccess]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Roof access'").first) %>>
    <label>Roof access</label>
    <br>
    <input type="checkbox" name="listing[stainlessteelappliances]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Stainless Steel Appliances'").first) %>>
    <label>Stainless Steel Appliances</label>
    <br>
    <input type="checkbox" name="listing[outdoorspace]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Outdoor Space'").first) %>>
    <label>Outdoor Space</label>
    <br>
    <input type="checkbox" name="listing[videointercom]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Video Intercom'").first) %>>
    <label>Video Intercom</label>
    <input type="checkbox" name="listing[doorman]"
    <%= 'checked="true"' if listing.amenities.include?(Amenity.where("name = 'Doorman'").first) %>>
    <label>Doorman</label>
    <br>
  <br><br>

  <p>Broker:</p>
  <% Broker.all.each do |broker| %>
  <input
    type="radio"
    name="listing[broker]"
    value="<%= broker.id %>"
    id="listing_broker"
    <%= listing.brokers[0] == broker ? "checked" : "" %>>
  <label for="listing_broker"><%= broker.first_name %> <%= broker.last_name %></label>
  <br>
  <% end %>
  <br><br>
  <p>Floorplan:</p>
    <%= cl_image_tag(:image) %>
  <br><br>
  <p>Main Photo:</p>
    <%= cl_image_tag(:image, :html => {:multiple => true}) %>
    <span class="preview"></span>
    <div class="image_public_id"></div>
  <br><br>

  <% if (action_type == :new) %>
    <p>Additional Photos:</p>
    <%= cl_image_tag(:image_1) %>
    <%= cl_image_tag(:image_2) %>
    <%= cl_image_tag(:image_3) %>
    <%= cl_image_tag(:image_4) %>
    <%= cl_image_tag(:image_5) %>
    <%= cl_image_tag(:image_5) %>
    <%= cl_image_tag(:image_6) %>
    <%= cl_image_tag(:image_7) %>
    <%= cl_image_tag(:image_8) %>
    <%= cl_image_tag(:image_9) %>
    <%= cl_image_tag(:image_10) %>
  <% end %>
  <br><br>

  <input type="submit" value="<%= button_text %>">
  <% if action_type == :edit %>
  <%= link_to "Delete Listing", admin_listing_url(listing), method: :delete, class: 'btn' %>
  <% end %>
</form>

<br>
<a class="back-to-listings" href="/admin/listings">Back to Listings</a>

<script src='/assets/jquery.cloudinary.js' type='text/javascript'></script>
