<!DOCTYPE>
<html>
<head>
  <title>The Lion's Share</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=API_KEY&libraries=places"></script> -->
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/application.css"> -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%#= 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="app-header">
    <%= render partial: 'layouts/navbar' %>
  </header>

<%= yield %>


</body>
</html>
